<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
  <global>
    <cookies>1</cookies>
    <lang>EN</lang>
    <ui>
      <fg>#fff</fg>
      <bg>#fff</bg>
    </ui>
  </global>
  <notes>
    <maxFiles>100</maxFiles>  
    <pdfFont>DejaVu Sans</pdfFont>
    <editor>SimpleMDE</editor>
  </notes>
</config>
