
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 60px;
    margin-top: 10px;
    height: 40px;
    width: 40px; 
    padding-top: 5px !important;
    padding-left: 5px !important;
}

#noteEditor {
    display: none;
}

#sidebarNavBtn {
    display: none;
}

#sidebarBtn {
}

#titleNav {
    padding-left: 5px;
    width: 250px !important;
    background-color: #fff;
    overflow-x: auto;
}

#title {
}

#desktopBtns {
    position: relative;
    height: 38px;
    border-radius: 0 !important;
}

input[type="text"]#title {
    font-size: 25px;
    width: 250px;
}

#noteEditorBtn {
    display: none;
}

#editText {
    margin-top: 2px;    
    width: 100%;
    height: 70%;
}

#markdownText {
    display: none; 
    margin-left: 30px;
    margin-top: 10px;
}

.note-form {
    position: absolute;
    display: none;
    top: 70px;
    left: 20px;
    z-index: 1000; 
    background-color: #fff; 
    overflow-y: auto; 
}

.note-form-title {
    position: absolute;
    left: 0px;
    top: 0px; 
    padding-left: 10px; 
    height: 40px;
    width: 100%;
    font-size: 25px; 
    color: #fff; 
    background-color: #8A2BE2;
}

/* for button colors see end of css file */
.note-form-btn {
    border-radius: 0 !important;
    position: absolute; 
    top: -1px;
    left: 80%;
    padding-left: 5%  !important;
    width: 20%;
    height: 40px;
}

.note-from-btn-1 {

}

.note-form-btn-2 {

}

#noteAddForm {
    width: 300px;
    height: 200px;
    padding-top: 5px; 
    padding-left: 10px;
    padding-right: 10px; 
}

#noteAddTitle {
}

#noteAddCreateBtn {
    position: absolute;
    top: 75%;
}

#noteAddCloseBtn {
    position: absolute;
    top:  75%;
    left: 30%;
}

#noteAddInput {
    position: absolute;
    top: 30%;
    width: 90%; 
}

#noteList {
    width: 220px;
    height: 300px;
    padding-left: 20px;
    padding-top: 40px;
}

#noteListTitle {
}

#noteListCloseBtn {
}

#noteSettingsForm {
    width: 220px;
    height: 350px; 
}

#noteSettingsTitle {
}

#noteSettingsCloseBtn {
}

.noteLoad {
    font-size: 20px;
}

.edit-btn {
    font-size: 18px;
    width: 40px;
}

#editBtns {
    border-radius: 0 !important;
}

#notePad {
    position: relative;
    float: left;
    border-radius: 0 !important;
    width: 400px;
    height: 400px;
}

textarea {
    font-size: 10px;
    resize: none;
}

textarea[data-name="linenumbers"] {
    font-size: 16px;
    border-radius: 0 !important;
    color: #fff;
    background-color: #8A2BE2; 
}

footer {
    bottom: 0;
    margin-bottom: 1%;
    text-align: center;
}

/* ace editor changes */

.ace_gutter {
    background-color: #8A2BE2 !important;
}

.ace_gutter-cell {
    color: #fff;
}

.ace_gutter-active-line {
    background-color: black !important;
}

/* bootstrap changes */

.navbar {
    padding-left: 5px !important; 
}

.bg-light {
    background-color: #8A2BE2 !important;
}

.btn-primary {
    border-color: black; 
    background-color: #8A2BE2;
}

.btn-primary:hover {
    border-color: black; 
    background-color: #8A2Ba0; 
}

.btn-primary:focus {
    outline-color: #fff !important;
    border-color: black !important; 
    box-shadow: 0 0 5px black !important;
    background-color: #8a2b70 !important; 
}

.btn-primary:active {
    outline-color:  #fff  !important;
    border-color: black !important; 
    box-shadow: 0 0 5px black !important;
    background-color: #8a2b70 !important; 
}

.btn-secondary {
    border-radius: 0 !important;
}

.btn-dark {
    border-radius: 0 !important;
}

