
header {
    background-color: #8A2BE2;
    color: black;
    font-size: 20px; 
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: block; 
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 10px;
}

#noteEditor {
    display: none;
}

#title {
}

input[type="text"]#title {
    font-size: 25px;
    width: 250px;
}

#editText {
    margin-top: 2px;    
}

#markdownText {
    display: none; 
    margin-left: 30px;
    margin-top: 10px;
}

#noteList {
    position: absolute; 
    display: none;
    top: 70px;
    left: 70px; 
    z-index: 1000; 
    width: 220px;
    height: 300px;
    padding-left: 20px;
    padding-top: 40px;
    border-color: black; 
    background-color: #fff;
    overflow-y: auto; 
}

#noteListBadge {
    position: absolute; 
    top: 10px;
    left: 5px; 
}

#noteListCloseBtn {
    position: absolute; 
    top: 5px;
    left: 175px; 
}

.noteLoad {
    font-size: 20px;
}


textarea {
    font-size: 10px;
}

footer {
    position: absolute; 
    bottom: 0;
    margin-bottom: 1%;
    margin-left: 50%; 
    text-align: center;
}
